@model ProjectManager.Web.Models.ViewModel.EmployeeProjectsCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Mitarbeiter zum Projekt hinzufügen</h2>

@*<dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(m => m.EmployeeProject.Project.Id)</dt>
        <dd>@Model.EmployeeProject.Project.Id</dd>
        <dt>@Html.DisplayNameFor(m => m.EmployeeProject.Project.ProjectName)</dt>
        <dd>@Model.EmployeeProject.Project.ProjectName</dd>
        <dt>@Html.DisplayNameFor(m => m.EmployeeProject.Project.Status)</dt>
        <dd>@Model.EmployeeProject.Project.Status</dd>
        <dt>@Html.DisplayNameFor(m => m.EmployeeProject.Project.Startdate)</dt>
        <dd>@Model.EmployeeProject.Project.Startdate</dd>
        <dt>@Html.DisplayNameFor(m => m.EmployeeProject.Project.Enddate)</dt>
        <dd>@Model.EmployeeProject.Project.Enddate</dd>
        <dt>@Html.DisplayNameFor(m => m.EmployeeProject.Project.Deadline)</dt>
        <dd>@Model.EmployeeProject.Project.Deadline</dd>
        <dt>@Html.DisplayNameFor(m => m.EmployeeProject.Project.ValuedTime)</dt>
        <dd>@Model.EmployeeProject.Project.ValuedTime Stunden</dd>
        <dt>@Html.DisplayNameFor(m => m.EmployeeProject.Project.Information)</dt>
        <dd>@Model.EmployeeProject.Project.Information</dd>
    </dl>*@

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </form>
    </div>
</div>
<h2>Projekt-Mitglieder</h2>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Job</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var emp in Model.Employees)
        {
            <tr>
                <td>@emp.ToString()</td>
                <td>@emp.Status</td>
                <td>@emp.Job</td>
                <td>
                    <a asp-controller="Projects" asp-action="Edit" >Entfernen</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<h2>Alle Mitarbeiter (ohne Projekt-Mitglieder)</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Job</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var emp in Model.Employees)
        {
            <tr>
                <td>@emp.ToString()</td>
                <td>@emp.Status</td>
                <td>@emp.Job</td>
                <td>
                    <a asp-controller="Projects" asp-action="Edit" >Hinzufügen</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-controller="Projects" asp-action="List">Zur Übersicht</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
