@model ProjectManager.Core.Entities.Project

@{
    ViewData["Title"] = "Delete";
}

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="text-center">Do you want to delete the following Project ?</h3>
                </div>
                <div class="panel-body">
                    <div>
                        
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.ProjectName)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.ProjectName)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Status)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Status)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Information)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Information)
                            </dd>
                            <dd>
                        </dl>

                        <form asp-action="DeleteConfirm" asp-route-projectId="@Model.Id">
                            <div class="pager">
                                <a asp-action="List" class="btn btn-default"><i class="fas fa-chevron-left"></i> Overview</a>
                                <input type="submit" value="Delete" class="btn btn-danger" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


