@model ProjectManager.Web.Models.ViewModel.ProjectsDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Projekt-Übersicht</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(m => m.Project.Id)</dt>
        <dd>@Model.Project.Id</dd>
        <dt>@Html.DisplayNameFor(m => m.Project.ProjectName)</dt>
        <dd>@Model.Project.ProjectName</dd>
        <dt>@Html.DisplayNameFor(m => m.Project.Startdate)</dt>
        <dd>@Model.Project.Startdate</dd>
        <dt>@Html.DisplayNameFor(m => m.Project.Enddate)</dt>
        <dd>@Model.Project.Enddate</dd>
        <dt>@Html.DisplayNameFor(m => m.Project.Deadline)</dt>
        <dd>@Model.Project.Deadline</dd>
    </dl>
</div>
<div>
    <a asp-controller="Projects" asp-action="Edit" asp-route-projectId="@Model.Project.Id">Edit</a>
    <a asp-controller="Projects" asp-action="List">Back to List</a>
</div>
