@model ProjectManager.Web.Models.ViewModel.ProjectsDetailsViewModel
@*@using Kendo.Mvc.UI*@
@{
    ViewData["Title"] = "Details";
}

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
   
</head>

<div class="col">
    <div class="card">
        <div class="card-block">
            <h4 class="card-title">Card title</h4>

        </div>
    </div>

</div>
<div class="container-fluid">
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(m => m.Projects.Id)</dt>
        <dd>@Model.Projects.Id</dd>
        <dt>@Html.DisplayNameFor(m => m.Projects.ProjectName)</dt>
        <dd>@Model.Projects.ProjectName</dd>
        <dt>@Html.DisplayNameFor(m => m.Projects.Status)</dt>
        <dd>@Model.Projects.Status</dd>
        <dt>@Html.DisplayNameFor(m => m.Projects.Startdate)</dt>
        <dd>@Model.Projects.Startdate</dd>
        <dt>@Html.DisplayNameFor(m => m.Projects.Enddate)</dt>
        <dd>@Model.Projects.Enddate</dd>
        <dt>@Html.DisplayNameFor(m => m.Projects.Deadline)</dt>
        <dd>@Model.Projects.Deadline</dd>
        <dt>@Html.DisplayNameFor(m => m.Projects.ValuedTime)</dt>
        <dd>@Model.Projects.ValuedTime Stunden</dd>
        <dt>@Html.DisplayNameFor(m => m.Projects.Information)</dt>
        <dd>@Model.Projects.Information</dd>
    </dl>
</div>
<h2>Mitarbeiter</h2>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Job</th>
            <th>Projekt-Manager</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var emp in Model.EmployeeProjects)
        {
        <tr>
            <td>@emp.Employee.ToString()</td>
            <td>@emp.Employee.Job</td>

            @if (emp.Projectmanager)
            {
                <td><i class="fas fa-user-tie"></i></td>
            }
        </tr>
        }
    </tbody>
</table>
<h2>Offene Tasks</h2>
<table class="table">
    <thead>
        <tr>
            <th>Task Id</th>
            <th>Taskname</th>
            <th>Status</th>
            <th>Fixer Task</th>
            <th>Von</th>
            <th>Bis</th>
            <th>Deadline</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model.UndefinedTasks)
        {
            <tr>
                <td>@task.Id</td>
                <td>@task.TaskName</td>
                <td>@task.Status</td>
                <td>@task.FixedTask</td>
                <td>@task.Created</td>
                <td>@task.Enddate</td>
                <td>@task.Deadline</td>
                <td>
                    <a asp-controller="Tasks" asp-action="Details" asp-route-taskId="@task.Id" class="btn btn-info">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@(Html.Kendo().Grid<ProjectManager.Core.Entities.Task>(Model.UndefinedTasks)
            .Name("Grid")
            .Columns(columns =>
            {
                columns.Bound(c => c.Id);
                columns.Bound(c => c.TaskName);
                columns.Bound(c => c.Status);
                columns.Bound(c => c.FixedTask);
                columns.Bound(c => c.Created);
            })
            .Pageable()
            .Sortable()
            .Scrollable(scr => scr.Height(430))
            .Filterable()
            .DataSource(dataSource => dataSource
                .Ajax()
                .PageSize(20)
                .ServerOperation(false)
              )

)

<h2>Abgeschlossene Tasks</h2>
<table class="table">
    <thead>
        <tr>
            <th>Task Id</th>
            <th>Taskname</th>
            <th>Status</th>
            <th>Fixer Task</th>
            <th>Von</th>
            <th>Bis</th>
            <th>Deadline</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model.CompletedTasks)
        {
            <tr>
                <td>@task.Id</td>
                <td>@task.TaskName</td>
                <td>@task.Status</td>
                <td>@task.FixedTask</td>
                <td>@task.Created</td>
                <td>@task.Enddate</td>
                <td>@task.Deadline</td>
                <td>
                    <a asp-controller="Tasks" asp-action="Details" asp-route-taskId="@task.Id" class="btn btn-info">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<h2>Tasks in Bearbeitung</h2>
<table class="table">
    <thead>
        <tr>
            <th>Task Id</th>
            <th>Taskname</th>
            <th>Status</th>
            <th>Fixer Task</th>
            <th>Von</th>
            <th>Bis</th>
            <th>Deadline</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model.ProcessingTasks)
        {
            <tr>
                <td>@task.Id</td>
                <td>@task.TaskName</td>
                <td>@task.Status</td>
                <td>@task.FixedTask</td>
                <td>@task.Created</td>
                <td>@task.Enddate</td>
                <td>@task.Deadline</td>
                <td>
                    <a asp-controller="Tasks" asp-action="Details" asp-route-taskId="@task.Id" class="btn btn-info">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-controller="Projects" asp-action="List" class="btn btn-default">Zur Übersicht</a>
</div>
