@model ProjectManager.Web.Models.ViewModel.ProjectsDetailsViewModel
@*@using Kendo.Mvc.UI*@
@{
    ViewData["Title"] = "Details";
}

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>Details</h2>
                </div>
                <div class="panel-body">
                    <div class="container-fluid">
                        <h4><dd>@Model.Projects.Information</dd></h4>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td><dt>Name</dt></td>
                                    <td><dd>@Model.Projects.ProjectName</dd></td>
                                </tr>
                                <tr>
                                    <td><dt>@Html.DisplayNameFor(m => m.Projects.Status)</dt></td>
                                    <td><dd>@Model.Projects.Status</dd></td>
                                </tr>
                                <tr>
                                    <td><dt>@Html.DisplayNameFor(m => m.Projects.Startdate)</dt></td>
                                    <td><dd>@Model.Projects.Startdate</dd></td>
                                </tr>
                                <tr>
                                    <td><dt>@Html.DisplayNameFor(m => m.Projects.Enddate)</dt></td>
                                    <td><dd>@Model.Projects.Enddate</dd></td>
                                </tr>
                                <tr>
                                    <td><dt>@Html.DisplayNameFor(m => m.Projects.Deadline)</dt></td>
                                    <td><dd>@Model.Projects.Deadline</dd></td>
                                </tr>
                                <tr>
                                    <td><dt>@Html.DisplayNameFor(m => m.Projects.ValuedTime)</dt></td>
                                    <td><dd>@Model.Projects.ValuedTime H</dd></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="panel panel-default" style="max-height: 400px; min-height: 400px; overflow-y: scroll">
                <div class="panel-heading">
                    <h3>Project member</h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Job</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var emp in Model.EmployeeProjects)
                            {
                            <tr>

                                @if (emp.Projectmanager)
                                {
                                    <td title="Project Manager" class="text-center"><i class="fas fa-user-tie"></i></td>
                                    <td>@emp.Employee.ToString()</td>
                                    <td>@emp.Employee.Job</td>
                                }
                                else
                                {
                                    <td></td>
                                    <td>@emp.Employee.ToString()</td>
                                    <td>@emp.Employee.Job</td>
                                }
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="panel panel-default" style="max-height: 400px; min-height: 400px; overflow-y: scroll">
                <div class="panel-heading">
                    <h3>Open Tasks</h3>
                </div>
                <div class="panel-body">
                    @if (Model.ProcessingTasks.Count != 0)
                    {
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Task</th>
                                    <th>Status</th>
                                    <th>Fixed Task</th>
                                    <th>From</th>
                                    <th>To</th>
                                    <th>Deadline</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var task in Model.UndefinedTasks)
                                {
                                    <tr>
                                        <td>@task.TaskName</td>
                                        <td>@task.Status</td>
                                        @if (task.FixedTask)
                                        {

                                            <td class="text-center"><i class="fas fa-check"></i></td>
                                        }
                                        else
                                        {
                                            <td class="text-center"><i class="fas fa-times"></i></td>
                                        }
                                        <td>@task.Created</td>
                                        <td>@task.Enddate</td>
                                        <td>@task.Deadline</td>
                                        <td>
                                            <a asp-controller="Tasks" asp-action="Details" asp-route-taskId="@task.Id" class="btn btn-info">Details</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div class="center-block well">
                            <h1 class="text-center">Bad News...</h1>
                            <h2 class="text-center">This Taskpool is empty !</h2>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="panel panel-default" style="max-height: 400px; min-height: 400px; overflow-y: scroll">
                <div class="panel-heading">
                    <h3>Completed Tasks</h3>
                </div>
                <div class="panel-body">
                    @if (Model.ProcessingTasks.Count != 0)
                    {
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Task</th>
                                    <th>Status</th>
                                    <th>Fixed Task</th>
                                    <th>From</th>
                                    <th>To</th>
                                    <th>Deadline</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var task in Model.CompletedTasks)
                                {
                                    <tr>
                                        <td>@task.TaskName</td>
                                        <td>@task.Status</td>
                                        @if (task.FixedTask)
                                        {

                                            <td class="text-center"><i class="fas fa-check"></i></td>
                                        }
                                        else
                                        {
                                            <td class="text-center"><i class="fas fa-times"></i></td>
                                        }
                                        <td>@task.Created</td>
                                        <td>@task.Enddate</td>
                                        <td>@task.Deadline</td>
                                        <td>
                                            <a asp-controller="Tasks" asp-action="Details" asp-route-taskId="@task.Id" class="btn btn-info">Details</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div class="center-block well">
                            <h1 class="text-center">Bad News...</h1>
                            <h2 class="text-center">This Taskpool is empty !</h2>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="panel panel-default" style="max-height: 400px; min-height: 400px; overflow-y: scroll">
                <div class="panel-heading">
                    <h3>Processing Tasks</h3>
                </div>
                <div class="panel-body">
                    @if (Model.ProcessingTasks.Count != 0)
                    {

                        
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Task</th>
                                    <th>Status</th>
                                    <th>Fixed Task</th>
                                    <th>From</th>
                                    <th>To</th>
                                    <th>Deadline</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var task in Model.ProcessingTasks)
                                {
                                    <tr>
                                        <td>@task.TaskName</td>
                                        <td>@task.Status</td>
                                        @if (task.FixedTask)
                                        {

                                            <td class="text-center"><i class="fas fa-check"></i></td>
                                        }
                                        else
                                        {
                                            <td class="text-center"><i class="fas fa-times"></i></td>
                                        }
                                        <td>@task.Created</td>
                                        <td>@task.Enddate</td>
                                        <td>@task.Deadline</td>
                                        <td>
                                            <a asp-controller="Tasks" asp-action="Details" asp-route-taskId="@task.Id" class="btn btn-info">Details</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div class="center-block well">
                            <h1 class="text-center">Bad News...</h1>
                            <h2 class="text-center">This Taskpool is empty !</h2>
                        </div>
                            
                    }
                </div>
            </div>
        </div>
    </div>
</div>



<div class="col-lg-2"></div>
<div class="col-lg-1">
    <a asp-controller="Projects" asp-action="List" class="btn btn-default"><i class="fas fa-chevron-left"></i> Overview</a>
</div>
