@model ProjectManager.Web.Models.ViewModel.ProjectsListViewModel

@{
    ViewData["Title"] = "Projekte";
}


<head>
    <title>Projects</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="~/css/site.css" rel="stylesheet" />
</head>


<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>Projects</h2>
                </div>
                <div class="panel-body">
                    @*<div class="page-header">*@

                    <form asp-controller="Projects" asp-action="List">
                        <div class="input-group has-feedback col-md-4">
                            <input asp-for="FilterProjectName" type="text" placeholder="Project name" class="form-control" />
                            <span asp-validation-for="FilterProjectName" class="text-danger"></span>
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fas fa-search"></i>
                                </button>
                            </span>

                        </div>
                    </form>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Deadline</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var project in Model.Projects)
                            {
                                <tr>
                                    <td>@project.ProjectName</td>
                                    <td>@project.Deadline</td>
                                    <td>@project.Status</td>
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                    {
                                        <td title="Edit"><a asp-controller="Projects" asp-action="Edit" asp-route-projectId="@project.Id"><i class="far fa-edit"></i></a></td>
                                        <td title="Delete project"><a asp-controller="Projects" asp-action="Delete" asp-route-projectId="@project.Id"><i class="far fa-trash-alt"></i></a></td>
                                        <td title="Manage project members"><a asp-controller="EmployeeProjects" asp-action="Create" asp-route-projectId="@project.Id"><i class="fas fa-users-cog"></i></a></td>
                                    }

                                    <td title="Details"><a asp-controller="Projects" asp-action="Details" asp-route-projectId="@project.Id"><i class="fas fa-info"></i></a></td>
                                    <td title="Create task"><a asp-controller="Tasks" asp-action="Create" asp-route-projectId="@project.Id"><i class="fas fa-tasks"></i></a></td>


                                </tr>
                            }
                        </tbody>
                    </table>
                    @*</div>*@
                </div>
            </div>
        </div>
    </div>
</div>
