@model ProjectManager.Web.Models.ViewModel.ProjectsListViewModel

@{
    ViewData["Title"] = "Projekte";
}

<h2>Projekte</h2>
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<form asp-controller="Projects" asp-action="List">
    <div class="form-group-sm  col-xs-2">
        <input asp-for="FilterProjectName" class="form-control" />
        <span asp-validation-for="FilterProjectName" class="text-danger"></span>
    </div>
    <input type="submit" value="Filter Projekt Name" class="btn btn-primary" />
</form>
<table class="table">
    <thead>
        <tr>
            <th>Projekt</th>
            <th>Deadline</th>
            <th>Projektnummer</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var project in Model.Projects)
        {
            <tr>
                <td>@project.ProjectName</td>
                <td>@project.Deadline</td>
                <td>@project.Id</td>
                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <td title="Edit"><a asp-controller="Projects" asp-action="Edit" asp-route-projectId="@project.Id"><i class="far fa-edit"></i></a></td>
                    <td title="Delete project"><a asp-controller="Projects" asp-action="Delete" asp-route-projectId="@project.Id"><i class="far fa-trash-alt"></i></a></td>
                    <td title="Edit project member"><a asp-controller="EmployeeProjects" asp-action="Create" asp-route-projectId="@project.Id"><i class="fas fa-users-cog"></i></a></td>
                }

                <td title="Details"><a asp-controller="Projects" asp-action="Details" asp-route-projectId="@project.Id"><i class="fas fa-info"></i></a></td>
                <td title="Create task"><a asp-controller="Tasks" asp-action="Create" asp-route-projectId="@project.Id"><i class="fas fa-tasks"></i></a></td>


            </tr>
        }
    </tbody>
</table>
