@model ProjectManager.Web.Models.ViewModel.ProjectsListViewModel

@{
    ViewData["Title"] = "Projekte";
}
<head>
    
</head>
<link rel="stylesheet" href="https://unpkg.com/envoy.css@1.6.15/css/envoy.min.css">
<h2>Projekte</h2>

<p>
    <a asp-controller="Projects" asp-action="Create" class="btn btn-default">Neues Projekt erstellen</a>
</p>
<form asp-controller="Projects" asp-action="List">
    <div class="form-group">
        <input asp-for="FilterProjectName" class="form-control" />
        <span asp-validation-for="FilterProjectName" class="text-danger"></span>
    </div>
    <input type="submit" value="Filter Projekt Name" class="btn btn-primary" />
</form>
<table class="table">
    <thead>
        <tr>
            <th>Projekt</th>
            <th>Deadline</th>
            <th>Projektnummer</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var project in Model.Projects)
        {
            <tr>
                <td>@project.ProjectName</td>
                <td >@project.Deadline</td>
                <td>@project.Id</td>
                <td>
                    <a asp-controller="Projects" asp-action="Edit" asp-route-projectId="@project.Id"><i class="glyphicon glyphicon-edit"></i></a>
                    <a asp-controller="Projects" asp-action="Details" asp-route-projectId="@project.Id"><i class="glyphicon glyphicon-zoom-in"></i></a>
                    <a asp-controller="Projects" asp-action="Delete" asp-route-projectId="@project.Id"><i class="glyphicon glyphicon-remove-circle"></i></a>
                    <a asp-controller="EmployeeProjects" asp-action="Create" asp-route-projectId="@project.Id"><i class="glyphicon glyphicon-th"></i></a> 
                    <a asp-controller="Tasks" asp-action="Create" asp-route-projectId="@project.Id"><i class="glyphicon glyphicon-tasks"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
