@model ProjectManager.Web.Models.ViewModel.EmployeeTasksCreateViewModel

@{
    ViewData["Title"] = "Create";
}

@*<h2>Mitarbeiter zum Task "@Model.Task.TaskName" hinzufügen</h2>*@

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </form>
    </div>
</div>
<h2>Task-Mitglied</h2>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Job</th>
        </tr>
    </thead>
    <tbody>

        @*@if (Model.EmployeeTask.EmployeeId != null)
        {
            <tr>
                <td>@Model.EmployeeTask.Employee.ToString()</td>
                <td>@Model.EmployeeTask.Employee.Status</td>
                <td>@Model.EmployeeTask.Employee.Job</td>
                <td>
                    <form asp-action="Delete" asp-route="@Model.EmployeeTask.EmployeeId">
                        <input type="submit" value="Löschen" class="btn btn-danger" />
                    </form>
                </td>
            </tr>
        }
        else
        {
            <tr>
                <td>@Model.EmployeeTask.Employee.ToString()</td>
                <td>@Model.EmployeeTask.Employee.Status</td>
                <td>@Model.EmployeeTask.Employee.Job</td>

            </tr>
        }*@

     
            <tr>
                <td>@Model.EmployeeTask.Employee.Lastname</td>
                <td>@Model.EmployeeTask.Employee.Firstname</td>
                <td>@Model.EmployeeTask.Employee.Status</td>
                <td>@Model.EmployeeTask.Employee.Job</td>
                <td>
                    @*<form asp-action="Delete" asp-route="@Model.EmployeeTask.EmployeeId">
                        <input type="submit" value="Löschen" class="btn btn-danger" />
                    </form>*@
                </td>
            </tr>
 

    </tbody>
    </table>

<h2>Alle Mitarbeiter (ohne Projekt-Mitglieder)</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Job</th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var emp in Model.EmplyoeeNotInTask)*@
        @foreach (var emp in Model.Employees)
        {
        <tr>
            @*// <td>@emp.ToString()</td>*@

            @*<td>@emp.Employee.ToString()</td>
        <td>@emp.Employee.Job</td*@>
            @*<td>@emp.Job</td>*@
            <td>
                @*<form asp-action="Create" asp-controller="EmployeeTasks" asp-route-employeeId="@emp.Id" asp-route-taskId="@Model.EmployeeTask.TaskId">
                    <input type="submit" value="Mitarbeiter hinzufügen" class="btn btn-success" />
                </form>
            </td>*@


            <td>@Model.EmployeeTask.Employee.Lastname</td>
            <td>@Model.EmployeeTask.Employee.Firstname</td>
            <td>@Model.EmployeeTask.Employee.Status</td>
            <td>@Model.EmployeeTask.Employee.Job</td>
        </tr>
        }
    </tbody>
</table>
@*<div>*@
