@model ProjectManager.Core.Entities.Task

@{
    ViewData["Title"] = "Delete";
}
<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>Delete Task</h2>
                </div>
                <h3>You will delete @Model.TaskName </h3>
                <h3>Are you sure?</h3>
                <div>
                    <hr />
                    <dl class="dl-horizontal">
                        <tr>
                            <td>
                        <dt>Name</dt></td>
                        <td>
                        <dd>@Model.TaskName</dd></td>
                        </tr>
                        <tr>
                            <td>
                        <dt>Project</dt></td>
                        <td>
                        <dd>@Model.Project.ProjectName</dd></td>
                        </tr>
                        <tr>
                            <td>
                        <dt>Status:</dt></td>
                        <td>
                        <dd>@Model.Status</dd></td>
                        </tr>
                        <tr>
                            <td>
                        <dt>Information:</dt></td>
                        <td>
                        <dd>@Model.Information</dd></td>
                        </tr>
                    </dl>
                    <form asp-action="DeleteConfirm" asp-route-taskId="@Model.Id">
                        <input type="submit" value="Delete" class="btn btn-danger" />
                        <a asp-action="List" class="btn btn-primary">Task List</a>
                        <a asp-controller="Tasks" asp-action="Details" asp-route-taskId="@Model.Id" class="btn btn-primary">Detail</a>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

