@model ProjectManager.Web.Models.ViewModel.TasksDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<form>
    <div>
        <p>
            <label>Task Id:</label>
            <label>@Model.Task.Id</label>
        </p>
        <p>
            <label>Taskname:</label>
            <label>@Model.Task.TaskName</label>
        </p>
        <p>
            <label>Verantwortlicher:</label>

            @{if (Model.EmployeeTask != null)
                {
                    <label>@Model.EmployeeTask.Employee.ToString()</label>
                   
                    @*<label> @Model.EmployeeTask.Employee.Lastname </label>
                    <label> @Model.EmployeeTask.Employee.Firstname </label>*@
                        
                }
                else
                {
                    <label> Kein Mitarbeiter </label>
                } }
        </p>

        <p>
            <label>Von:</label>
            <label>@Model.Task.Created</label>
        </p>
        <p>
            <label>Bis:</label>
            <label>@Model.Task.Enddate</label>
        </p>
        <p>
            <label>Deadline:</label>
            <label>@Model.Task.Deadline</label>
        </p>
        <p>
            <label>Status:</label>
            <label>@Model.Task.Status</label>
        </p>
        <p>
            <label>Information:</label>
            <label>@Model.Task.Information</label>
        </p>
    </div>
</form>
<a asp-area="" asp-controller="Tasks" asp-action="Edit" asp-route-taskId="@Model.Task.Id" asp-route-projectId="@Model.Task.ProjectId" class="btn btn-primary"> Bearbeiten</a>
<a asp-area="" asp-controller="Tasks" asp-action="Delete" asp-route-taskId="@Model.Task.Id" class="btn btn-primary">Task Löschen</a> |
@*<a asp-area="" asp-controller="Tasks" asp-action="List" class="btn btn-primary">Zurück</a>*@