@model ProjectManager.Web.Models.ViewModel.TasksDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<form>
    <fieldset>
        <p>
            <label>Task Id:</label>
            <label>@Model.EmployeeTask.TaskId</label>
        </p>
        <p>
            <label>Taskname:</label>
            <label>@Model.EmployeeTask.Task.TaskName</label>
        </p>
        <p>
            <label>Verantwortlicher:</label>
            <label>@Model.EmployeeTask.Employee.Lastname</label>
            <label>@Model.EmployeeTask.Employee.Firstname</label>
        </p>

        <p>
            <label>Von:</label>
            <label>@Model.EmployeeTask.Task.Created</label>
        </p>
        <p>
            <label>Bis:</label>
            <label>@Model.EmployeeTask.Task.Enddate</label>
        </p>
        <p>
            <label>Deadline:</label>
            <label>@Model.EmployeeTask.Task.Deadline</label>
        </p>
        <p>
            <label>Status:</label>
            <label>@Model.EmployeeTask.Task.Status</label>
        </p>
        <p>
            <label>Information:</label>
            <label>@Model.EmployeeTask.Task.Information</label>
        </p>
    </fieldset>
</form>
<a asp-area="" asp-controller="Tasks" asp-action="Edit" asp-route-taskId ="@Model.EmployeeTask.TaskId" class="btn btn-primary"> Bearbeiten</a>
<a asp-area="" asp-controller="Tasks" asp-action="Delete" asp-route-taskId="@Model.EmployeeTask.TaskId" class="btn btn-primary">Task Löschen</a> |
<a asp-area="" asp-controller="Tasks" asp-action="List" class="btn btn-primary">Zurück</a>