@model ProjectManager.Web.Models.ViewModel.TasksListViewModel

@{
    ViewData["Title"] = "Abgeschlossene Tasks";
}


<h3>Abgeschlossene Tasks</h3>

<form asp-controller="Tasks" asp-action="List">
    <div class="form-group">
        <input asp-for="FilterTaskName" class="form-control" />
        <span asp-validation-for="FilterTaskName" class="text-danger"></span>
    </div>
    <input type="submit" value="Filter Task Name" class="btn btn-primary" />
</form>


<table class="table">
    <thead>
        <tr>
            <th>Task</th>
            <th>Deadline</th>
            <th>Taskname</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.FilterTaskName != null)
        {
            @foreach (var task in Model.CompletedTasks)
            {
                <tr>
                    <td>@task.TaskName</td>
                    <td>@task.Deadline</td>
                    <td>@task.TaskName</td>
                    <td>
                        <a asp-controller="Tasks" asp-action="Details" asp-route-taskId="@task.Id">Details</a> |
                    </td>
                </tr>

            }
        }
        else
        {
            @foreach (var task in Model.CompletedTasks)
            {
                <tr>
                    <td>@task.TaskName</td>
                    <td>@task.Deadline</td>
                    <td>@task.TaskName</td>
                    <td>
                        <a asp-controller="Tasks" asp-action="Details" asp-route-taskId="@task.Id">Details</a> |
                    </td>
                </tr>

            }
        }
    </tbody>
</table>