@model ProjectManager.Web.Models.ViewModel.TasksListViewModel

@{
    ViewData["Title"] = "List";
}

<h2>List</h2>

<a asp-controller="Tasks" asp-action="Create" class="btn btn-primary">Task anlegen</a>


<table class="table">
    <thead>
        <tr>
            <th>Taskname</th>
            <th>Projekt</th>
            <th>Priorität</th>
            <th>Von</th>
            <th>Bis</th>
            <th>Deadline</th>
            <th>Status</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model.Tasks)
        {
        <tr>
            <td>@task.TaskName</td>
            <td>@task.Project.ProjectName</td>
            <td>@task.Priority</td>
            <td>@task.Startdate</td>
            <td>@task.Enddate</td>
            <td>@task.Deadline</td>
            <td>@task.Status</td>

            <td>
                <a asp-controller="Tasks" asp-action="Edit" asp-route-taskId="@task.Id">Edit</a>
                <a asp-controller="Tasks" asp-action="Details" asp-route-taskId="@task.Id">Details</a>

            </td>
        </tr>
        }
    </tbody>
</table>
