@model ProjectManager.Web.Models.ViewModel.TasksListViewModel

@{
    ViewData["Title"] = "List";
}

<h2>List</h2>


<li><a asp-area="" asp-controller="Tasks" asp-action="Create" class="btn btn-primary">Task anlegen</a></li>
<li><a asp-area="" asp-controller="Tasks" asp-action="Edit" class="btn btn-primary">Task bearbeiten</a></li>

<table class="table">
    <thead>
        <tr>
            <th>Taskname</th>
            <th></th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model.Tasks)
        {
            <tr>  
                <td>@task.TaskName</td>
                <td>@task.Project.ProjectName</td>

                @*<td>
                    @Html.DisplayFor(modelItem => item.TaskName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Priority)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FixedTask)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Information)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Startdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Enddate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValuedTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deadline)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Timestamp)
                </td*@>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
