@model ProjectManager.Web.Models.ViewModel.DepartmentsViewModel

<!doctype html>

<html lang="de">
<head>
    <title></title>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
</head>
<body>
    <form asp-controller="Departments" asp-action="ConfirmDelete">
        <div class="container" style="width:700px">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2>Confirm the delete of @Model.Department.DeptName</h2>
                        </div>
                        <div class="panel-heading">
                            <label class="control-label">Choose a new department for your employees</label>
                        </div>

                        <div class="panel-body">
                            <div class="form-inline">
                                <select asp-for="AssignDepartment.Id" asp-items="@Model.DepartmentSelectList" class="form-control" style="width:159px"></select>
                                <input asp-for="Assign" type="submit" value="Assign" class="btn btn-primary" />
                                <span asp-validation-for="Assign" class="text-danger" />
                            </div>

                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Lastname</th>
                                        <th>Firstname</th>
                                        <th>Job</th>
                                    </tr>
                                </thead>
                                @foreach (var employee in Model.EmployeeList)
                                {
                                    <tr>
                                        <td>@employee.Lastname</td>
                                        <td>@employee.Firstname</td>
                                        <td>@employee.Job</td>
                                    </tr>
                                }
                            </table>
                            <div class="form-group">

                                <a title="Click here to crate a new department" style="width:200px" class="btn btn-primary" asp-controller="Departments" asp-action="Create" asp-route-routeString="ConfirmDelete"
                                   asp-route-routeId="@Model.Department.Id">Create department</a>

                                <a title="Click here to go back to the departmentlist" style="width:200px" class="btn btn-primary" asp-controller="Departments" asp-action="List">Back</a>
                            </div>
                        </div>

                        <input asp-for="Department.Id" value="@Model.Department.Id" type="hidden" />
                        <input asp-for="Department.DeptName" value="@Model.Department.DeptName" type="hidden" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>
