@model ProjectManager.Web.Models.ViewModel.DepartmentsViewModel

@{
    ViewData["Title"] = "List";
}

<!doctype html>

<html lang="de">
<head>
    <title></title>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
</head>
<body>
    <div class="container" style="width:700px">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>Departments</h2>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <a asp-controller="Departments" asp-action="Create" asp-route-routeString="List" class="btn btn-primary">Create a new Department</a>
                        </div>

                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Departmentname</th>
                                    <th>Departmentlocation</th>
                                    <th>Amount of employees</th>
                                    <th></th>
                                </tr>
                            </thead>

                            @foreach (var department in Model.DepartmentList)
                            {
                            <tr title="Click here to see the employees of this department" onclick="location.href = '@(Url.Action("Details", "Departments", new { departmentId = department.Id}))'">
                                <td>@department.DeptName</td>
                                <td>@department.DeptLocation</td> 
                                <td>@Model.CountEmployeesOfThisDepartment(department, Model.UnitOfWork)</td>
                                <td><a title="Click here to delete this department!"  asp-controller="Departments" asp-action="Delete" asp-route-departmentId="@department.Id"><i class="fa fa-trash-alt" aria-hidden="true"></i></a></td>
                            </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>