@model ProjectManager.Web.Models.EmployeesEditProfilViewModel

@{
    ViewData["Title"] = "EditProfil";
}

<h2>Edit</h2>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Profil" asp-route-projectId="@Model.Employee.Id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Employee.Id" />
            <div class="form-group">
                <dl class="dl-horizontal">
                    <dt>@Html.DisplayNameFor(m => m.Employee.Lastname)</dt>
                    <dd>@Model.Employee.Lastname</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>@Html.DisplayNameFor(m => m.Employee.Firstname)</dt>
                    <dd>@Model.Employee.Firstname</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>@Html.DisplayNameFor(m => m.Employee.Job)</dt>
                    <dd>@Model.Employee.Job</dd>
                </dl>
                <div class="dl-horizontal">
                    <label>@Html.DisplayNameFor(m => m.Employee.Birthdate)</label>
                    <input size="30" value="@Model.Employee.Birthdate"></>

                    <label>@Html.DisplayNameFor(m => m.Employee.StreetNameAndNr)</label>
                    <input size="30" value="@Model.Employee.StreetNameAndNr"></>

                    <label>@Html.DisplayNameFor(m => m.Employee.ZipCode)</label>
                    <input size="30" value="@Model.Employee.ZipCode"></>

                    <label>@Html.DisplayNameFor(m => m.Employee.Residence)</label>
                    <input size="30" value="@Model.Employee.Residence"></>
                </div>                
                    <label>@Html.DisplayNameFor(m => m.Employee.Phonenumber)</label>
                    <input size="30" value="@Model.Employee.Phonenumber"></>
                
            </div>
        </form>
        </div>
    </div>

