@model ProjectManager.Web.Models.ViewModel.Employees.EmployeesFeedViewModel

@{
    ViewData["Title"] = "EditView";
}

<!doctype html>

<html lang="de">
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <div id="header">
        <h1>Der Feed</h1>
        <p>Your personal Overview</p>
    </div>
    <div>
        <div class="col-sm-9">
            <table class="table" style="width:400px">
                <tr>
                    <th>Taskname</th>
                    <th>Priorität</th>
                </tr>
                @foreach (var obj in Model.EmployeeTaskList)
                {
                    <tr>
                        <td>@obj.Task.TaskName</td>
                        <td>@obj.Task.Priority</td>
                    </tr>
                }
            </table>
        </div>
        <div class="col-sm-3">
            <table class="table" style="width:400px">
                <tr>
                    <th>
                        <button class="btn btn-primary" style="width:100px">Project</button>
                    </th>
                    <th>
                        <button class="btn btn-primary" style="width:100px">All</button>
                    </th>
                    <th>
                        <button class="btn btn-primary">@Model.EmployeeTaskList.Count()</button>
                    </th>
                </tr>
                <tr>
                    <th>Taskname</th>
                    <th>Priority</th>
                    <th></th>
                </tr>
                @foreach (var obj in Model.EmployeeTaskList)
                {
                    <tr>
                        <td>@obj.Task.TaskName</td>
                        <td>@obj.Task.Priority</td>
                        <td><input asp-for="ChoosenTask" type="submit" value="Add" class="btn btn-primary"/></td>
                    </tr>
                }
            </table>
        </div>
    </div>
</body>
</html>

