@model ProjectManager.Web.Models.ViewModel.Employees.EmployeesFeedViewModel

@{
    ViewData["Title"] = "EditView";
}

<!doctype html>

<html lang="de">
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <div id="header">
        <h1>Der Feed</h1>
        <p>Your personal Overview</p>
    </div>
    <div>
        <div class="col-sm-9">
            <table class="table" style="width:400px">
                <tr>
                    <th>Taskname</th>
                    <th>Priorität</th>
                </tr>
                @foreach (var obj in Model.WorkTasks)
                {
                    <tr>
                        <td>@obj.TaskName</td>
                        <td>@obj.Priority</td>
                    </tr>
                }
            </table>
        </div>

        <div class="col-sm-3">
            <table class="table" style="width:400px">

                <tr>
                    <th>
                        <form asp-controller="Employees" asp-action="Feed">
                            <input asp-for="ProjectFilter" type="submit" value="Projekt" class="btn btn-primary" style="width:100px" />
                            <span asp-validation-for="ProjectFilter" class="text-danger"></span>
                        </form>
                    </th>
                    <th>
                        <form asp-controller="Employees" asp-action="Feed">
                            <input asp-for="GeneralFilter" type="submit" value="Allgemein" class="btn btn-primary" style="width:100px" />
                            <span asp-validation-for="GeneralFilter" class="text-danger"></span>
                        </form>
                    </th>
                    <th>
                        @if (Model.EmployeeTaskList.Count() == 0)
                        {
                            <form asp-controller="Employees" asp-action="Feed">
                                <input asp-for="PriorityFilter" type="submit" value="@Model.EmployeeTaskList.Count()" class="btn btn-primary" style="width:100px" />
                                <span asp-validation-for="PriorityFilter" class="text-danger"></span>
                            </form>
                        }
                        else
                        {
                            <form asp-controller="Employees" asp-action="Feed">
                                <input asp-for="PriorityFilter" type="submit" value="@Model.EmployeeTaskList.Count()" class="btn btn-danger" style="width:100px" />
                                <span asp-validation-for="PriorityFilter" class="text-danger"></span>
                            </form>
                        }
                    </th>
                </tr>
                <tr>
                    <th>Taskname</th>
                    <th>Priority</th>
                    <th></th>
                </tr>
                @foreach (var obj in Model.EmployeeTaskList)
                {
                    <tr>
                        <td>@obj.Task.TaskName</td>
                        <td>@obj.Task.Priority</td>
                        <td>
                            <form asp-controller="Employees" asp-action="AddTo" asp-route-taskId="@obj.Id">
                                <input type="button" value="Add" class="btn btn-primary" />
                            </form>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</body>
</html>

