@model ProjectManager.Web.Models.ViewModel.Employees.EmployeesFinishOrPassViewModel

<html lang="de">
<head>
    <title></title>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
</head>
<body>
    <div class="container" style="width:710px">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>Finish or pass?</h2>
                    </div>
                    @if (Model.FinishClicked == true)
                    {
                        <div class="panel-heading">
                            <h4>Click again to confirm finishing this task!</h4>
                        </div>
                    }
                    else if (Model.PassClicked == true)
                    {
                        <div class="panel-heading">
                            <h4>Click again to confirm passing this task!</h4>
                        </div>
                    }
                    <div class="panel-body">
                        <form asp-controller="Employees" asp-action="FinishOrPass">

                            <div class="form-group">
                                <div class="form-group">
                                    <label class="control-label">Taskname: </label>
                                    <label>@Model.Task.TaskName</label>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Task.Priority" class="control-label"></label>
                                    <select asp-for="Task.Priority" asp-items="Html.GetEnumSelectList<ProjectManager.Core.Enum.PriorityType>()" class="form-control" style="width:400px"></select>
                                    <span asp-validation-for="Task.Priority" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Task.ValuedTime" class="control-label"></label>
                                    <input asp-for="Task.ValuedTime" class="form-control" style="width:400px" />
                                    <span asp-validation-for="Task.ValuedTime" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Task.Information" class="control-label"></label>
                                    <textarea asp-for="Task.Information" class="form-control" rows="5" style="width:650px" autofocus></textarea>
                                    <span asp-validation-for="Task.Information" class="text-danger"></span>
                                </div>
                            </div>
                            @if (Model.PassClicked == true)
                            {
                                <div>
                                    <dl>
                                        <dt>
                                            Pass Task to:
                                        </dt>
                                        <dd>
                                            <select asp-for="RecipientEmployee.Id" asp-items="@Model.EmployeeSelectList" style="width:400px" class="form-control"></select>
                                            <span asp-validation-for="RecipientEmployee.Id" class="text-danger"></span>
                                        </dd>
                                    </dl>
                                </div>
                                <div class="form-group">
                                    <span>Do you want to fix this task?</span>
                                    <input title="If you fix this task, it appears on the dashboard of the choosen employee"
                                           name="Fixedtask" asp-for="FixedTask" type="checkbox" value="true" />
                                </div>
                            }
                            <div class="form-group">
                                @if (Model.FinishClicked == true)
                                {
                                    <input asp-for="Abbruch" type="submit" value="Abort" class="btn btn-danger" style="width:320px" />
                                    <span asp-validation-for="Abbruch" class="text-danger"></span>
                                }
                                else
                                {
                                    <input asp-for="Pass" type="submit" value="Pass" class="btn btn-primary" style="width:320px" />
                                    <span asp-validation-for="Pass" class="text-danger"></span>
                                }

                                <input asp-for="Finish" type="submit" value="Finish" class="btn btn-primary" style="visibility:@Model.FinishButton();
                                                                                                    display:@Model.FinishButtonDisplay();
                                                                                                    width:320px" />
                                <span asp-validation-for="Finish" class="text-danger"></span>

                                <input asp-for="Abbruch" type="submit" value="Abort" class="btn btn-danger" style="visibility:@Model.AbortButton();  width:320px" />
                                <span asp-validation-for="Abbruch" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <a asp-controller="Employees" asp-action="Feed" asp-route-employeeId="@Model.Employee.Id"asp-route-buttonClicked="@Model.ButtonClicked" 
                                                                                                                         asp-route-priority="@Model.Priority" class="btn btn-success">Back to Dashboard</a>
                            </div>

                            <input type="hidden" value="@Model.Employee.Id" asp-for="Employee.Id" />
                            <input type="hidden" value="@Model.Task.Id" asp-for="Task.Id" />
                            <input type="hidden" value="@Model.ButtonClicked" asp-for="ButtonClicked" />
                            <input type="hidden" value="@Model.Priority" asp-for="Priority" />
                            @if (Model.PassClicked == true)
                            {
                                <input type="hidden" value="true" asp-for="@Model.PassConfirmed" />
                            }
                            else
                            {
                                <input type="hidden" value="false" asp-for="@Model.PassConfirmed" />
                            }
                            @if (Model.FinishClicked == true)
                            {
                                <input type="hidden" value="true" asp-for="@Model.FinishConfirmed" />
                            }
                            else
                            {
                                <input type="hidden" value="false" asp-for="@Model.FinishConfirmed" />
                            }
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

